<%= content_for :heading, 'Create merchant account' %>
<%= content_for :subheading do %>
  <%= t('devise.registrations.new.subheading_html', link: link_to(t('devise.registrations.new.sign_in_link'), new_session_path(resource_name), class: 'text-blue-600 hover:text-blue-700')) %>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'grid grid-cols-1 gap-4' }, data: { turbo: false }) do |f| %>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div>
      <%= f.text_field :first_name, autocomplete: 'given-name', required: true, class: 'input-auth', placeholder: t('devise.registrations.new.first_name_placeholder') %>
    </div>
    <div>
      <%= f.text_field :last_name, autocomplete: 'family-name', required: true, class: 'input-auth', placeholder: t('devise.registrations.new.last_name_placeholder') %>
    </div>
  </div>

  <div>
    <%= f.email_field :email, autocomplete: 'email', required: true, class: 'input-auth', placeholder: t('devise.registrations.new.email_placeholder') %>
  </div>

  <div>
    <%= f.password_field :password, autofocus: false, autocomplete: 'new-password', required: true, class: 'input-auth', placeholder: t('devise.registrations.new.password_placeholder') %>
  </div>

  <div>
    <p class="text-base text-gray-600 leading-normal">
      <%= t('devise.registrations.new.disclaimer_html', terms: link_to(t('devise.registrations.new.terms'), '', class: 'text-blue-600 hover:text-blue-500 text-sm font-medium'), privacy: link_to(t('devise.registrations.new.privacy'), '', class: 'text-blue-600 hover:text-blue-500 text-sm font-medium')) %>
    </p>
  </div>

  <% if resource.errors.any? %>
    <div class="flex items-center justify-center">
      <div class="text-sm text-red-600">
        <% resource.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div>
    <%= f.submit t('devise.registrations.new.submit'), class: 'flex w-full justify-center rounded border border-transparent bg-blue-600 p-3 sm:p-4 text-md font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-gray-800 focus:ring-offset-2 cursor-pointer', data: { turbo: false } %>
  </div>
<% end %>
