<div class="card overflow-hidden">
  <div class="card-container">
    <% if menus&.size&.positive? %>
      <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-100" cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr class="h-full text-gray-500 text-xs uppercase font-normal leading-normal">
              <th scope="col" class="h-px w-px" style="min-width: 120px;">
                <div class="py-2.5 pl-4 pr-3 sm:pl-3 text-left">
                  <span class="font-normal leading-normal">
                    Name
                  </span>
                </div>
              </th>
              <th scope="col" class="h-px w-px">
                <div class="py-2.5 px-3 text-left">
                  <span class="sr-only font-normal leading-normal">
                    Status
                  </span>
                </div>
              </th>
              <th scope="col" class="h-px">
                <div class="py-2.5 px-3 text-left">
                  <span class="font-normal leading-normal">
                    Items
                  </span>
                </div>
              </th>
              <th scope="col" class="h-px">
                <div class="py-2.5 px-3 text-left">
                  <span class="font-normal leading-normal">
                    Locations
                  </span>
                </div>
              </th>
              <th scope="col" class="h-px w-px">
                <div class="py-2.5 pl-3 pr-4 sm:pr-3 text-right">
                  <span class="font-normal leading-normal text-right">
                    Updated
                  </span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-100">
            <% @menus.each do |menu| %>
              <tr class="bg-white hover:bg-gray-50 transition">
                <td class="h-px whitespace-nowrap">
                  <%= link_to menu, id: menu.prefix_id, class: 'h-full block', data: { turbo: false } do %>
                    <div class="h-full py-4 pl-4 pr-3 sm:pl-3">
                      <span class="text-base text-gray-900 leading-normal font-medium overflow-auto">
                        <%= menu.name %>
                      </span>
                    </div>
                  <% end %>
                </td>
                <td class="h-px whitespace-nowrap">
                  <%= link_to menu, id: menu.prefix_id, class: 'h-full block', data: { turbo: false } do %>
                    <div class="h-full flex items-center py-4 pl-4 pr-3 sm:pl-3 overflow-auto">
                      <%= render partial: "menus/statuses/#{menu.status.underscore}",
                        locals: { menu: }
                      %>
                    </div>
                  <% end %>
                </td>
                <td class="h-px whitespace-nowrap">
                  <%= link_to menu, id: menu.prefix_id, class: 'h-full block', data: { turbo: false } do %>
                    <div class="h-full flex items-center py-4 pl-4 pr-3 sm:pl-3 overflow-auto">
                      <span class="text-base text-gray-900 leading-normal">
                        –
                      </span>
                    </div>
                  <% end %>
                </td>
                <td class="h-px whitespace-wrap">
                  <%= link_to menu, id: menu.prefix_id, class: 'h-full block', data: { turbo: false } do %>
                    <div class="h-full flex flex-wrap max-w-md items-center py-4 pl-4 pr-3 sm:pl-3 overflow-auto -m-1">
                      <% if menu.locations_count.positive? %>
                        <% menu.locations.each do |location| %>
                          <span class="tag">
                            <%= location.name %>
                          </span>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </td>
                <td class="h-px whitespace-nowrap">
                  <%= link_to menu, id: menu.prefix_id, class: 'h-full block', data: { turbo: false } do %>
                    <div class="h-full flex items-center justify-end py-4 pl-4 pr-3 sm:pl-3 overflow-auto">
                      <span class="text-base text-gray-500 leading-normal font-normal">
                        <%= menu.updated_at.localtime.to_fs(:short) %>
                      </span>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <%= render partial: 'components/empty_state', locals: {
        icon: 'inbox',
        title: 'No menus yet',
        description: 'Create a menu to get started. Menus are used to group items together and can be assigned to location(s).',
        buttons: [
          link_to('Add first menu', new_menu_path, class: 'btn btn-primary', data: { turbo_frame: :modal })
        ]
      } %>
    <% end %>
  </div>
</div>
