<div class="flex items-center justify-between p-2">
  <div class="shrink-0 mr-4">
    <span class="h-10 w-10 flex items-center justify-center rounded bg-gray-100 text-xl text-gray-500 leading-normal font-normal">
      <%= icon(
        Rails.application.config.fa_style,
        'table-picnic'
      ) %>
    </span>
  </div>
  <div class="grow shrink w-full">
    <p class="text-base text-gray-900 leading-normal font-normal">
      <%= table.name %>
    </p>
  </div>
  <div class="shrink-0 ml-4">
    <div class="-m-2 flex items-center flex-wrap">
      <% if table.qr_code.present? %>
        <span class="p-2">
          <%= link_to qr_code_path(table.qr_code), data: { turbo_frame: :modal }, class: 'rounded bg-gray-50 p-2 text-gray-500 transition hover:text-gray-900 hover:bg-gray-100 h-[34px] min-w-[34px] flex items-center justify-center leading-normal' do %>
            <%= icon(
              Rails.application.config.fa_style,
              'qrcode'
            ) %>
          <% end %>
        </span>
      <% end %>
      <span class="p-2">
        <%= link_to edit_location_table_path(location, table), data: { turbo_frame: :modal }, class: 'rounded bg-gray-50 p-2 text-gray-500 transition hover:text-gray-900 hover:bg-gray-100 h-[34px] min-w-[34px] flex items-center justify-center leading-normal' do %>
            <%= icon(
              Rails.application.config.fa_style,
              'pen'
            ) %>
          <% end %>
      </span>
    </div>
  </div>
</div>
