<% content_for :title, 'Search items' %>
<% content_for :heading, 'Search items' %>

<%= render layout: 'layouts/modal', locals: {
  width_class: 'md:max-w-[540px]',
  position_class: 'items-center',
  height_class: 'h-auto'
} do |f| %>
  <div class="block">
    <%= form_with(
      url: category_items_path(category),
      method: :get,
      data: { turbo_frame: :search_category_items }
    ) do |f| %>
      <div class="flex items-center justify-between">
        <div class="flex-grow">
          <%= f.text_field :query, class: 'input', placeholder: 'Search', autocomplete: 'off', autofocus: true %>
        </div>
        <div class="shrink-0 ml-2">
          <%= button_tag type: :submit, data: { disable_with: 'Searching..' }, class: "btn btn-primary h-full" do %>
            <%= icon(Rails.application.config.fa_style, 'search') %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="block mt-4">
    <%= turbo_frame_tag :search_category_items do %>
      <div class="grid grid-cols-1 gap-4">
        <% if @items.present? %>
          <%= render partial: 'categories/items/item', collection: @items, locals: { category: } %>
        <% else %>
          <%= render partial: 'components/empty_state', locals: {
            icon: 'search',
            title: 'No items found',
            description: 'Try searching for something else'
          } %>
        <% end %>
      </div>
      <div class="mt-6">
        <%= render partial: 'components/pagination', locals: { pagy: @pagy } %>
      </div>
    <% end %>
  </div>
<% end %>
