<%= turbo_frame_tag :onboarding do %>
  <div class="block m-intro">
    <div class="content-md">
      <div class="block">
        <h1 class="text-2xl md:text-4xl text-gray-900 leading-normal font-semibold">
          <%= t('dashboard.onboarding.title') %>
        </h1>
        <p class="text-sm md:text-base text-gray-500 leading-normal font-normal mt-2">
          <%= t('dashboard.onboarding.subtitle') %>
        </p>
      </div>
      <div class="mt-4">
        <div class="flex items-center">
          <span class="shrink-0 mr-4 text-xs text-gray-500 leading-normal">
            <%= onboarding.completed_tasks_count %> of <%= pluralize(onboarding.tasks_count, 'task') %> completed
          </span>
          <div class="flex-1">
            <div class="h-3 bg-gray-200 rounded overflow-hidden">
              <div
                class="h-full bg-green-500"
                style="width: <%= onboarding.percentage.zero? ? 5 : onboarding.percentage %>%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="content-md">
      <div class="grid grid-cols-1 gap-6">
        <% unique_task_categories.each do |category| %>
          <% category_tasks = tasks_by_categories[category] %>
          <div class="card">
            <div class="card-header">
              <p class="text-gray-900 text-lg leading-normal font-medium">
                <%= t("dashboard.onboarding.category.#{category.underscore}") %>
              </p>
            </div>
            <div class="card-body">
              <div class="grid grid-cols-1 gap-8">
                <% category_tasks.each do |task| %>
                  <%= render partial: "dashboard/onboardings/tasks/#{task.category.underscore}/#{task.template.underscore}", locals: { task: } %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
