<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <%= render partial: 'shared/head' %>
  </head>
  <body
    class="relative min-h-screen lg:flex lg:justify-between lg:items-center lg:bg-black"
  >

    <div class="lg:max-w-[600px] w-full mx-auto">
      <div class="bg-white lg:rounded lg:mx-8 lg:my-10 p-6 lg:p-8">
        <div class="block mb-8">
          <div class="mb-8 flex items-center">
            <%= render partial: 'components/logo',
              locals: { classes: 'bg-blue-500 fill-white h-10 w-10 p-0.5 rounded-full' }
            %>
          </div>

          <div class="block">
            <h1 class="text-2xl leading-normal lg:text-3xl font-semibold text-gray-900">
              <%= content_for(:heading) %>
            </h1>
            <p class="text-base text-gray-500 leading-normal mt-2">
              <%= content_for(:subheading) %>
            </p>
          </div>
        </div>

        <div class="block">
          <%= yield %>
        </div>
      </div>

      <div class="my-10">
        <div class="grid grid-cols-1 gap-4">
          <div class="col">
            <ul class="flex items-center flex-wrap justify-center">
              <li class="col -my-4">
                <%= link_to ENV.fetch('GONA_TERMS', '#'), class: 'text-xs text-white leading-normal hover:text-white/70 transition p-4 flex', target: :_blank do %>
                  Terms
                  <span class="ml-1">
                    <%= icon(Rails.application.config.fa_style, 'arrow-up-right') %>
                  </span>
                <% end %>
              </li>
              <li class="col -my-4">
                <%= link_to ENV.fetch('GONA_PRIVACY', '#'), class: 'text-xs text-white leading-normal hover:text-white/70 transition p-4 flex', target: :_blank do %>
                  Privacy
                  <span class="ml-1">
                    <%= icon(Rails.application.config.fa_style, 'arrow-up-right') %>
                  </span>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="col text-center">
            <p class="text-xs text-white leading-normal font-normal">
              © <%= DateTime.current.localtime.year %> Going Out And About, Inc. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
